<div class="row">
  <div class="col login-title-wrapper">
    <h4> Envia un mensaje sobre la colmena {{hiveInfo.name}} </h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="login-form">
          <mat-form-field>
            <mat-label>Tu mensaje</mat-label>
            <input matInput type="text" [(ngModel)]="message" name="message" id="message-text">
          </mat-form-field>
          <div class="field">
            <p (click)="sendMessage()" class="login-button"> Send Message </p>
          </div>
    </div>

  </div>
</div>