/* You can add global styles to this file, and also import other style files */
.label {
  color: #bf8040;
}

.brown {
  background-color: #bf8040;
  color: #ffdd57;
  font-weight: bold;
}

.yellow {
  background-color: #ffdd57;
  color: #bf8040;
  font-weight: bold;
}

input.ng-invalid {
  border-color: red;
}

input.ng-valid{
  border-color: green;
}

