<div class="hero">
  <div class="hero-title">
    <p class="padding-16">Miel natural.</p>
    <p class="padding-16 subtitle">De la colmena a tu hogar.</p>
    <button [routerLink]="['/honey']" class="btn btn-brown btn-large">Ver mieles</button>
    <div class="learn-more-button">
      <a (click)="navigateTo()">
        <img class="learn-more-arrow" src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526499481/down-arrow.png" alt="Learn more">
      </a>
    </div>
  </div>
</div>
<section>
  <div class="row info padding-56">
    <div class="section-title">
      <h3>Apadrina una colmena en 3 sencillos pasos</h3>
    </div>
    <div class="col-4">
      <img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526488188/info1.png">
      <p class="padding-16">Escoge un sabor y una colmena</p>
    </div>
    <div class="col-4">
      <img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526488188/info2.png">
      <p class="padding-16">Comprueba en tiempo real cómo crecen</p>
    </div>
    <div class="col-4">
      <img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526488188/info3.png">
      <p class="padding-16">Disfruta del sabor de la miel auténtica</p>
    </div>
  </div>
</section>
<div class="section padding-56">
  <div class="section-title">
    <h3>Nuestras mieles más vendidas</h3>
  </div>
  <div class="row" *ngIf="honeys">
    <div *ngFor="let honey of honeys; let i=index" class="col-4" id="best-honeys">
      <div *ngIf="i<3" class="card">
        <img class="card-img" [src]="honey.pictureURL">
        <div class="card-content">
          <div class="title padding-8">
            <p>{{honey.name}}</p>
          </div>
          <div class="text padding-8">
            Tipo: {{honey.type}}
          </div>
          <div class="text padding-8">
            <span>{{honey.price | number:'1.2-2'}} €/kg</span>
          </div>
          <div class="card-button">
            <a [routerLink]="['/honey',honey._id]">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-yellow" [routerLink]="['/honey']" id="show-more">Ver más mieles</button>
</div>
