<div class="form">
  <form>
    <h2> Login</h2>
    <div class="field">
      <label class="label">Email</label>
      <div>
        <input class="form-control" type="text" [(ngModel)]="email" name="email" #myEmail="ngModel" required />
        <span *ngIf="!myEmail.valid && myEmail.touched">The email is required.</span>
      </div>
    </div>
    <div class="field">
      <label class="label">Contraseña</label>
      <div>
        <input class="form-control" type="password" [(ngModel)]="password" name="password" #myPassword="ngModel" required />
        <span *ngIf="!myPassword.valid && myPassword.touched">The password is required.</span>


      </div>
    </div>

    <div class="field">
      <button (click)="login()" class="button is-warning"> login </button>
    </div>
  </form>
</div>
<p class="error"> {{ error }} </p>