<div class="container login-wrapper">
  <div class="row">
    <div class="col login-title-wrapper">
      <h2 class="login-title"> Bienvenido! </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="login-form">
        <form>
          <div>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="john-doe@example.com" type="email" [(ngModel)]="email" name="email" #myEmail="ngModel" required>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="My new password" type="password" [(ngModel)]="password" name="password" #myPassword="ngModel"
                required>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </div>
          <div class="field">
            <p (click)="login()" class="login-button"> Iniciar sesión </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
