
<div class="hero-beekeeper">
  <div class="hero-title">
    <p class="padding-16">Presentando HaaS.</p>
    <p class="padding-16 subtitle">La llegada de las colmenas inteligentes</p>
    <div class="learn-more-button">
        <button class="btn btn-brown btn-large" (click)="navigateTo()">Saber más</button>
    </div>
  </div>
</div>
<section>
  <div class="row info padding-56">
    <div class="section-title">
      <h3>Tu colmena, tu cliente y tú. Siempre juntos.</h3>
    </div>
    <div class="col-4">
      <img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526505669/cloud.png">
      <p class="padding-16">Internet of Things trabajando al servicio de tu negocio</p>
    </div>
    <div class="col-4 home-beekeeper-steps">
      <img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526506547/health.png">
      <p class="padding-16">Seguimiento exhaustivo del estado de cada colmena</p>
    </div>
    <div class="col-4">
      <img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526507172/money.png">
      <p class="padding-16">Impulsa tus ventas atrayento clientes de forma atractiva</p>
    </div>
  </div>
</section>
<div class="section padding-56">
  <div class="section-title">
    <h3>HaaS. Honey as a Service</h3>
  </div>
  <div class="row d-flex justifi-content-between">
    <div class="col-6">
      <p class="beekeeper-content">Presentamos HaaS, el concepto que está revolucionando el mercado apícola.</p>
      <p class="beekeeper-content">La comunión perfecta entre la apicultura tradicional y las nuevas tecnologías, que acerca la colmena desde el productor hasta el cliente liberando al producto de intermediarios.</p>
      <p class="beekeeper-content">Controla en tiempo real el estado de todas y cada una de tus colmenas, haciendo un seguimiento pormenorizado de las condiciones internas y externas de cada una de tus cajas, y permite que tus clientes se mantengan en contacto con tus abejas, al mismo tiempo que monetizas cada gramo de la miel que produzcas, con la seguridad de un equipo profesional.</p>
      <p class="beekeeper-content">Disfruta de un soporte remoto y presencial instantáneo, y deja que la tecnología haga el trabajo más duro por ti.</p>
      <p class="beekeeper-content">Salta con nosotros a una nueva dimensión en la producción de miel.</p>
    </div>
    <div class="col-6 hive-with-sensors-wrapper">
      <img class="hive-with-sensors-img" src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526507882/hive-sensor.jpg" alt="Hive with sensors">
    </div>
  </div>
  <div *ngIf="!sessionService.user">
    <div>
      <p (click)="sessionService.toggleSignupForm()" class="btn btn-yellow" id="beekeeper-button">Contrata apicultura 2.0</p>
    </div>
  </div>
</div>
