  <<div class="section-title padding-16">
		<h3> Algunas de nuestras mieles </h3>
	</div>
  <div id="search-box">
		<input [(ngModel)]="searchText" id="search-input" placeholder="Busca la miel por tipo">
		<img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526492676/GLYPHS/search.svg" id="search-glyph">
	</div>
  <div class="row" *ngIf="honeys">
    <div *ngFor="let honey of honeys | filter : searchText">
      <div class="card">
      	<img  class="card-img" [src]="honey.pictureURL">
      	<div class="card-content">
      	  <div class="title padding-8">
      	    <p>{{honey.name}}</p>
      	  </div>
      	  <div class="text padding-8">
      	    Tipo: {{honey.type}} 
      	  </div>
      	  <div class="text padding-8">
      	    <span>{{honey.price | number:'1.2-2'}} €/kg</span>
      	  </div>
      	  <div class="card-button">
      	    <a [routerLink]="['/honey',honey._id]">Ver detalle</a>
      	  </div>
      	</div>
      </div>
    </div>
  </div>
