<div class="container">
  <h1> Algunas de nuestras mieles </h1>
  <input [(ngModel)]="searchText" placeholder="Busca la miel por tipo">
  <div class="columns is-multiline" *ngIf="honeys">
    <div *ngFor="let honey of honeys | filter : searchText" class="card">
      <img [src]="honey.pictureURL">
      <div class="title">
        <p>{{honey.name}}</p>
      </div>
      <div>
        Tipo: {{honey.type}}
      </div>
      {{honey.price | number:'1.2-2'}} €/kg
      <div class="button brown">
        <a [routerLink]="['/honey',honey._id]">Ver detalle</a>
      </div>
    </div>
  </div>
</div>