<div class="container">
  <div class="row">
    <div class="col section-title padding-56">
      <h3>Tus colmenas apadrinadas</h3>
    </div>
  </div>
  <div *ngIf="hives" class="row">
    <div *ngFor="let hive of hives" class="col-4">
      <div class="card">
        <img class="card-img" [src]="hive.picturesURL">
        <div class="card-content">
          <div class="title padding-8">
            <p>{{hive.name}}</p>
          </div>
          <div class="text padding-8">
            Región: {{hive.location.city}}
          </div>
          <div class="text padding-8">
            {{hive.beekeeper.name}}
          </div>
          <div class="card-button">
            <a [routerLink]="['/hive', hive._id]">Ir a la colmena</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>