#contact-button {
  margin: 8px;
}

#to-hive {
  margin: 8px;
  float: right;
}

#go-back {
  font-size: 1.2em;
  color: #373f3f;
}

#go-back:hover {
  cursor: pointer;
}

.map {
  height: 500px;
  max-width: 1208px;
  margin: 0 auto;
}

.fas {
  font-size: 20px;
  padding-right: 16px;
}

#placeholder {
  width: 100%;
  height: 56%;
  background-color: black;
}

#graph {
  width:100%;
  height: 600px;
}