.hero {
    width: 100%;
    height: 95vh;
    background-image: url('http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526502670/home-beekeeper.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-title {
    padding: 56px 108px;
    margin-top: 200px;
    font-size: 72px;
    color: white;
    font-weight: bold;
    .subtitle {
        font-size: 56px;
    }
    .learn-more-button {
        text-align: center;
        padding-top: 56px;
        .learn-more-arrow {
            width: 56px;
            cursor: pointer;
        }
    }
}

.info {
    border-bottom: 1px solid $brown-trans;
    img {
        display: block;
        height: 124px;
        margin: 0 auto;
    }
    text-align: center;
    color: $brown;
    .home-steps {
        border-left: 3px solid $yellow-trans;
        border-right: 3px solid $yellow-trans;
    }
}

.section-title h3 {
    color: $brown;
    font-weight: bolder;
}

#best-honeys {
    .card {
        margin: 0 auto;
    }
}

#show-more {
    display: block;
    margin: 56px auto;
}
