@import './_variables';

#search-box {
  border: 1px solid $yellow;
  width: 400px;
  margin: 32px auto;
  height: 56px;
  display: flex;
  align-items: center;
}

#search-input {
  border: none;
  width: 360px;
}

#search-glyph {
  height: 24px;
  float: right;
}
