.mat-menu-content {
    background: $yellow;
    border-radius: 5px;
}

.mat-menu-item {
  box-sizing: border-box;
    font-family: $font-stack;
    color: $brown;
    background-color: $yellow;
    font-weight: bolder;
}

.mat-menu-item:hover {
    border: 2px solid $brown;
}

/* .mat-menu-item:active {
    border: 1px solid red;
}

.mat-menu-item:focus {
    border: 1px solid red;
}
 */
