$font-stack: 'Open Sans',
sans-serif;
// navbar
$navbar-background-color: #ffdd57;
$navbar-brand-title-size: 32px;
$yellow: #ffdd57;
$yellow-trans: rgba(255, 221, 87, 0.33);
$brown: #734110;
$brown-trans: rgba(115, 65, 16, 0.2);
$font-text: #6d6d6d;
$font-block-text: #999999;
$font-title: #373f3f;
$bgwhite: #FEFEFE;
