@import './_reset';
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './cards';
@import './navbar';
@import './_signup_form';
@import './login_form';
@import './_custom_theme';
* {
    font-family: $font-stack;
}

// general classes:
.padding-8 {
    padding: 8px 0;
}

// popup tool
.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 100;
}

.form-popup {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px;
    width: 30%;
    background-color: $yellow;
    height: 66%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// ??????
input.ng-invalid {
    border-color: red;
}

input.ng-valid {
    border-color: green;
}

// others
canvas {
    max-height: 600px;
}

#fillform {
    width: 50%;
    margin: 0 auto;
}

#map {
    height: 500px;
    width: 50%;
    margin: 0 auto;
    max-width: 900px;
}

agm-map {
    height: 500px;
}

//login-form
.form {
    width: 50%;
    float: left;
    padding: 32px;
}

input:focus {
    outline: none;
}

// my-profile-addnewhive
.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

.row {
    max-width: 1256px;
    margin: 0 auto;
}
