<header>
  <div class="navbar">
    <div class="navbar-brand">
      <a [routerLink]="['/home']"><img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526247047/mm-hex-marron-amarillo.png" width="64" id="mimiel-btn"></a>
    </div>
    <div *ngIf="!sessionService.user" class="navbar-menu is-active navbar-end">
      <button (click)="sessionService.toggleForm()" class="button brown">Log in or Sign Up</button>
    </div>

    <div *ngIf="sessionService.user" class="navbar-menu is-active navbar-end">
      <button (click)="logout()" class="button brown"> Logout </button>
      <a [routerLink]="['/my-profile']" class="button brown" id="profile"> Ir a mi perfil</a>
    </div>
  </div>
</header>


<div *ngIf="!sessionService.user" class="popup" [hidden]="sessionService.showForm">
  <div class="form-popup">
    <app-signup-form></app-signup-form>
    <app-login-form></app-login-form>
  </div>
</div>


<app-geocode></app-geocode>



<router-outlet></router-outlet>
