<header>
  <div class="navbar-wrapper">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-3 py-2">
        <div class="navbar-brand d-flex align-items-center pl-0">
          <a [routerLink]="['/home']">
            <img src="http://res.cloudinary.com/dxsy5lr4t/image/upload/v1526247047/mm-hex-marron-amarillo.png" id="mimiel-btn">
          </a>
          <a [routerLink]="['/home']">
            <h1 class="text-center">Mi Miel</h1>
          </a>
        </div>
      </div>
      <div class="col-6 pr-0">
        <!-- NAVBAR BUTTONS IF USER IS NOT LOGGED IN -->
        <div *ngIf="!sessionService.user">
          <div class="navbar-button-wrapper">
            <p (click)="sessionService.toggleForm()" class="navbar-button">Become a beekeeper</p>
            <p (click)="sessionService.toggleSignupForm()" class="navbar-button">Sign Up</p>
            <p (click)="sessionService.toggleLoginForm()" class="navbar-button">Log in</p>
          </div>
        </div>
        <!-- NAVBAR BUTTONS IF USER IS LOGGED IN -->
        <div *ngIf="sessionService.user">
          <div class="navbar-button-wrapper">
            <a [routerLink]="['/my-profile']" class="navbar-button" id="link-to-profile">My profile</a>
            <p (click)="logout()" class="navbar-button"> Logout </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- SIGNUP FORM -->
<div *ngIf="!sessionService.user" class="popup" [hidden]="sessionService.showSignupForm">
  <div class="form-popup">
    <app-signup-form></app-signup-form>
  </div>
</div>
<!-- LOGIN FORM -->
<div *ngIf="!sessionService.user" class="popup" [hidden]="sessionService.showLoginForm">
  <div class="form-popup">
    <app-login-form></app-login-form>
  </div>
</div>

<router-outlet></router-outlet>
