<div class="edit-profile-wrapper">
  <div class="row edit-profile-title-wrapper">
    <div class="col ">
      <h2 class="edit-profile-title">Actualiza tu perfil</h2>
    </div>
  </div>
  <div>
    <div class="row edit-profile-form-wrapper">
      <div class="col">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [placeholder]="sessionService.user.email" type="email" [(ngModel)]="email" name="email" class="email">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput [placeholder]="sessionService.user.name" type="text" [(ngModel)]="name" name="name">
        </mat-form-field>
      </div>

    </div>
    <div class="row edit-profile-form-wrapper">
      <div class="col">
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput [placeholder]="sessionService.user.surname" type="text" [(ngModel)]="surname" name="surname">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input matInput [placeholder]="sessionService.user.address" type="text" [(ngModel)]="address" name="address">
        </mat-form-field>
      </div>
    </div>
    <div class="row edit-profile-form-wrapper">
      <div class="col">
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput [placeholder]="sessionService.user.phoneNumber" type="text" [(ngModel)]="phoneNumber" name="phoneNumber">
        </mat-form-field>
      </div>
      <div class="col">
        <div *ngIf="sessionService.user.isApicultor === true">
          <mat-form-field>
            <mat-select [(ngModel)]="paymentMethod" name="paymentMethod" placeholder="Método de pago">
              <mat-option value="creditCard">Tarjeta de crédito</mat-option>
              <mat-option value="paypal">Paypal</mat-option>
              <mat-option value="cashOnDelivery">Contrareembolso</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row edit-profile-form-wrapper">
      <div class="col">
        <mat-form-field>
          <mat-label>Por seguridad, escribe tu contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="phoneNumber" required>
        </mat-form-field>
      </div>
      <div class="col">
        <div class="row edit-profile-form-wrapper">
          <div class="col">
            <button (click)="updateProfile()" class="btn btn-yellow">Actualizar perfil</button>
          </div>
          <div class="col">
            <button (click)="toggleDeleteForm()" class="btn btn-brown">Borrar tu perfil</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showDeleteForm">
  <app-my-profile-delete></app-my-profile-delete>
</div>