<div *ngIf="sessionService.user">
  <h1>Bienvenido {{sessionService.user.email}}</h1>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3 left-panel">
          <!-- Change left pannel depending of user type -->
          <div *ngIf="!sessionService.user.isApicultor">
            <ul>
              <li (click)="rightComponent='messages'">Mensajes</li>
              <li (click)="rightComponent='editProfile'">Editar perfil</li>
              <li (click)="rightComponent='deleteProfile'">Eliminar perfil</li>
              <li (click)="rightComponent='hives'">Colmenas apadrinadas</li>
            </ul>
          </div>
          <div *ngIf="sessionService.user.isApicultor">
            <ul>
              <li (click)="rightComponent='messages'">Mensajes</li>
              <li (click)="rightComponent='editProfile'">Editar perfil</li>
              <li (click)="rightComponent='deleteProfile'">Eliminar perfil</li>
              <li (click)="rightComponent='hives'">Colmenas</li>
              <li (click)="rightComponent='addNewHive'">Añadir nueva colmena</li>
              <li (click)="rightComponent='addNewHoney'">Añadir nueva miel</li>
            </ul>
          </div>
        </div>
        <div class="column is-9 right-panel">
          <!-- Change right pannel depending on option selected -->
          <div *ngIf="rightComponent === 'messages' && pictureUploadService.showPanelComponent">
            <app-show-messages></app-show-messages>
          </div>
          <div *ngIf="rightComponent === 'editProfile' && pictureUploadService.showPanelComponent">
            <app-my-profile-edit></app-my-profile-edit>
          </div>
          <div *ngIf="rightComponent === 'deleteProfile' && pictureUploadService.showPanelComponent">
            <app-my-profile-delete></app-my-profile-delete>
          </div>
          <div *ngIf="rightComponent == 'hives' && pictureUploadService.showPanelComponent">
            <app-my-profile-hives></app-my-profile-hives>
          </div>
          <div *ngIf="rightComponent == 'addNewHive' && pictureUploadService.showPanelComponent">
            <app-my-profile-addnewhive></app-my-profile-addnewhive>
          </div>
          <div *ngIf="rightComponent == 'addNewHoney' && pictureUploadService.showPanelComponent">
            <app-my-profile-addnewhoney></app-my-profile-addnewhoney>
          </div>
          <div *ngIf="pictureUploadService.showAddImageComponent === true">
            <app-addnewhive-pics [(ngModel)]="rightComponent" (ngModelChange)="toggleRightComponent()" ngDefaultControl></app-addnewhive-pics>
          </div>
          <div *ngIf="pictureUploadService.honeyShowAddImageComponent === true">
            <app-my-profile-addnewhoney-pics [(ngModel)]="rightComponent" (ngModelChange)="toggleRightComponent()" ngDefaultControl></app-my-profile-addnewhoney-pics>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
