<div *ngIf="sessionService.user">
  <h1>Wellcome {{sessionService.user.email}}</h1>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3 left-panel">
          <!-- Change left pannel depending of user type -->
          <div *ngIf="!sessionService.user.isApicultor">
            <ul>
              <li (click)="rightComponent='editProfile'">Edit profile</li>
              <li (click)="rightComponent='deleteProfile'">Delete profile</li>
              <li (click)="rightComponent='hives'">Sponsored hives</li>
              <li (click)="rightComponent='payments'">Payments</li>
              <li (click)="rightComponent='billing'">Billing</li>
            </ul>
          </div>
          <div *ngIf="sessionService.user.isApicultor">
            <ul>
              <li (click)="rightComponent='editProfile'">Edit profile</li>
              <li (click)="rightComponent='deleteProfile'">Delete profile</li>
              <li (click)="rightComponent='hives'">Hives</li>
              <li (click)="rightComponent='addNewHive'">Add new hive</li>
              <li (click)="rightComponent='payments'">Payments</li>
              <li (click)="rightComponent='billing'">Billing</li>
            </ul>
          </div>
        </div>
        <div class="column is-9 right-panel">
          <!-- Change right pannel depending on option selected -->
          <div *ngIf="rightComponent === 'editProfile'">
            <app-my-profile-edit></app-my-profile-edit>
          </div>
          <div *ngIf="rightComponent === 'deleteProfile'">
            <app-my-profile-delete></app-my-profile-delete>
          </div>
          <div *ngIf="rightComponent == 'hives'">
            <app-my-profile-hives></app-my-profile-hives>
          </div>
          <div *ngIf="rightComponent == 'addNewHive'">
            <app-my-profile-addnewhive></app-my-profile-addnewhive>
          </div>
          <div *ngIf="rightComponent == 'payments'">
            <app-my-profile-payments></app-my-profile-payments>
          </div>
          <div *ngIf="rightComponent == 'billing'">
            <app-my-profile-billing></app-my-profile-billing>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-show-messages></app-show-messages>


