<div class="container">
  <p class="title">Añade una nueva miel</p>
  <div class="form">
    <div class="field">
      <label class="label">Nombre de la miel</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="honeyName" name="honeyName" />
      </div>
    </div>
    <div class="field">
      <label class="label">Añade una descripción</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="honeyType" name="honeyType" />
      </div>
    </div>
    <div class="field">
      <label class="label">¿Dónde está tu colmena?</label>
      <div class="control">
        <select name="honeyHive" id="honeyHive" [(ngModel)]="honeyHive">
          <option *ngFor="let hive of hives" value="{{hive._id}}">{{hive.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="message !== ''">
      <div class="field">
        <label class="label">{{message}}</label>
      </div>
    </div>
    <div class="field">
      <button (click)="newHoney()" class="button is-warning">Sube una foto de tu miel</button>
    </div>
  </div>
  <p class="error"> {{ error }} </p>
</div>
