<div *ngIf="errorService.showErrorMessageComponent">
  <div class="container error-message-wrapper">
    <div class="row mt-5">
      <div class="col">
        <h1>ERROR</h1>
        <p>{{errorService.error}}</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col justify-content-center">
        <div (click)="toggleErrorMessage()" class="error-toggler"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!errorService.showErrorMessageComponent">
  <div class="error-wrapper">
    <div class="hero-error">
      <canvas #canvasError class="canvas-error" [ngClass]="pointer === 'red' ? 'pointer-red'
                    : pointer === 'skin' ? 'pointer-skin'
                      : pointer === 'honey' ? 'pointer-honey'
                        : pointer === 'pot-outside' ? 'pointer-pot-outside'
                          : pointer === 'pot-inside' ? 'pointer-pot-inside'
                            : pointer === 'rubber' ? 'pointer-rubber'
                              : 'red'"></canvas>
      <div class="hero-error-title">
        <p class="padding-16 text-center">Ha habido un error recuperando tu página.</p>
        <p class="padding-16 subtitle text-center">¿Coloreamos a Winnie mientras la encontramos?</p>
      </div>
      <div class="canvas-tools">
        <div class="tools-wrapper">
          <ul>
            <li>
              <div (click)="changeTool('rgba(136,9,9,0.3)', 'red')" class="red-tool"></div>
            </li>
            <li>
              <div (click)="changeTool('rgba(252,205,51,0.3)', 'skin')" class="skin-tool"></div>
            </li>
            <li>
              <div (click)="changeTool('rgba(93,37,13,0.3)', 'honey')" class="honey-tool"></div>
            </li>
            <li>
              <div (click)="changeTool('rgba(112,143,224,0.3)', 'pot-outside')" class="pot-outside-tool"></div>
            </li>
            <li>
              <div (click)="changeTool('rgba(35,75,223,0.3)', 'pot-inside')" class="pot-inside-tool"></div>
            </li>
            <li>
              <div (click)="changeTool('#FFFFFF', 'rubber')" class="rubber-tool"></div>
            </li>
            <li>
              <div (click)="toggleErrorMessage()" class="error-toggler"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

