<div class="form">
  <form>
    <h2> Signup </h2>
    <div class="field">
      <label class="label"> Email </label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="email" name="email" minlength="6" />
      </div>
    </div>
    <div class="field">
      <label class="label"> Password </label>
      <div class="control">
        <input class="input" type="password" [(ngModel)]="password" name="password" />
      </div>
    </div>
    <div class="field">
      <label class="label"> Is apicultor </label>
      No
      <input type="radio" [(ngModel)]="isApicultor" name="isApicultor" value="false">
      Yes
      <input type="radio" [(ngModel)]="isApicultor" name="isApicultor" value="true">

    </div>
    <div class="field">
      <button (click)="signup()" class="button"> Sign Up </button>
    </div>
  </form>
</div>
<p class="error"> {{ error }} </p>