<div class="form">
  <form>
    <h2> Signup </h2>
    <div class="field">
      <label class="label"> Email </label>
      <div>
        <input class="form-control" type="text" [(ngModel)]="email" name="email" #myEmail="ngModel" required />
        <span *ngIf="!myEmail.valid && myEmail.touched">The email is required.</span>
      </div>
    </div>
    <div class="field">
      <label class="label"> Password </label>
      <div class="control">
        <input class="form-control" type="password" [(ngModel)]="password" name="password" #myPassword="ngModel" required />
        <span *ngIf="!myPassword.valid && myPassword.touched">The password is required.</span>
      </div>
    </div>
    <div class="field">
      <label class="label"> Is apicultor </label>
      No
      <input type="radio" [(ngModel)]="isApicultor" name="isApicultor" value="false">
      Yes
      <input type="radio" [(ngModel)]="isApicultor" name="isApicultor" value="true">

    </div>
    <div class="field">
      <button (click)="signup()" class="button"> Sign Up </button>
    </div>
  </form>
</div>
<p class="error"> {{ error }} </p>