<div class="section" *ngIf="honey">
  <div class="row padding-32">
    <div class="col-2 offset-md-1" id="honey-image">
      <img [src]="honey.pictureURL" alt="Imagen de la miel">
    </div>
    <div class="col-6 offset-md-2">
      <h2 class="title padding-16">{{honey.name}}</h2>
      <p class="padding-8">España ({{honey.hive.location.city}})</p>
      <h3 class="padding-8"> Precio: {{honey.price | number:'1.2-2'}}€/kg</h3>
      <p class="padding-8">Miel de: {{honey.type}}</p>
      <p class="padding-8 text-block">{{honey.description}}</p>
      <button class="btn btn-brown" (click)="toggleContactForm()">Contactar con la colmena</button>
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-center">
      <p class="padding-16">{{honey.hive.location.city}}, España</p>
    </div>
    <div class="col-6 text-center">
      <p class="padding-16">{{honey.type}}</p>
    </div>
  </div>

  <div class="map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10"></agm-map>
  </div>

  <div [hidden]="!showForm" *ngIf="honey">
    <app-send-message (onToggleForm)="toggleContactForm($event)" [hiveInfo]="honey.hive" [toWho]="honey.hive.beekeeper" [isRequest]="true"></app-send-message>
  </div>
  <button class="btn btn-yellow" (click)="goToHive()">Ir a la colmena</button>
</div>