<div class="edit-profile-wrapper">
  <div class="row edit-profile-title-wrapper">
    <div class="col">
      <h2 class="title">Añadir nueva colmena</h2>
    </div>
  </div>
  <div>
    <div class="row edit-profile-form-wrapper">
      <div class="col">
        <mat-form-field>
          <mat-label>Nombre de la colmena</mat-label>
          <input matInput placeholder="Nombre de la colmena" type="email" [(ngModel)]="hiveName" name="hiveName">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Añade una descripción</mat-label>
          <input matInput placeholder="Una colmena bonita" type="text" [(ngModel)]="hiveDescription" name="hiveDescription">
        </mat-form-field>
      </div>
    </div>
    <div class="row edit-profile-form-wrapper">
      <div class="col">
        <mat-form-field>
          <mat-label>Ubicación de tu colmena</mat-label>
          <app-geocode (onGetFormatedAddress)="getAddressFromChild($event)"></app-geocode>
        </mat-form-field>
      </div>
      <div *ngIf="message !== ''" class="col">
        <mat-label>{{message}}</mat-label>
        <button (click)="newHive()" class="btn btn-yellow">Sube una foto de tu colmena</button>
      </div>
    </div>
    <div *ngIf="pictureUploadService.showAddImageComponent" class="row edit-profile-form-wrapper">
      <app-addnewhive-pics></app-addnewhive-pics>
    </div>
  </div>