<div class="container">
  <p class="title">Add a new hive</p>
  <div class="form">
    <form id="fillform">
      <div class="field">
        <label class="label">Give your hive a name</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="hiveName" name="hiveName" />
        </div>
      </div>
      <div class="field">
        <label class="label">Add a description</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="hiveDescription" name="hiveDescription" />
        </div>
      </div>
      <div class="field">
        <label class="label">Where's your hive located at?</label>
        <small class="label">User's wont see the exact location</small>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="hiveLocation" name="hiveLocation" />
        </div>
      </div>
      <div class="field">
        <label class="label">What kind of honey are your bees making?</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="honeyKind" name="honeyKind" />
        </div>
      </div>
      <div class="field">
        <label class="label">Where do you want to receive incoming emails related to this hive?</label>
        <small class="label">By default, we will use your account settings</small>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="email" name="email" />
        </div>
      </div>
      <div class="field">
        <label class="label">Provide a contact number for your customers</label>
        <small class="label">By default, we will use your account settings</small>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="phoneNumber" name="phoneNumber" />
        </div>
      </div>
      <div class="field">
        <label class="label">How would you want to get paid?</label>
        <div class="control">
          <select name="payMethod" id="payMethod" [(ngModel)]="payMethod">
            <option value="creditCard">Credit Card</option>
            <option value="paypal">Paypal</option>
            <option value="cashOnDelivery">Cash on delivery</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label">Give your potential customers a nice view of your hive</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="phoneNumber" name="phoneNumber" />
        </div>
      </div>
      <div *ngIf="message !== ''">
        <div class="field">
          <label class="label">{{message}}</label>
        </div>
      </div>
      <div class="field">
        <button (click)="updateProfile()" class="button is-warning">Update your profile</button>
      </div>
    </form>
  </div>
  <p class="error"> {{ error }} </p>
</div>
